/* body {
  background-color: rgb(37, 37, 37);
  color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  text-align: center;
  border: 3px solid;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(83, 68, 50);
  font-size: 2.5em;
}

.listItems {
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-size: 2em;
  list-style: none;
}

li {
  margin: 7px;
}

.listItems li:hover {
  color: rgb(189, 189, 189);
  cursor: pointer;
}

h3:hover {
  transform: scale(101%);
  cursor: pointer;
} */

.container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  padding: 10px;
  margin: 50px;
  width: 15vh;
  height: 8vh;
  font-size: 1.8vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

button:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  transform: scale(105%);
}

img {
  cursor: pointer;
}

h1 {
  font-size: 5em;
  margin-top: 5;
}
