body {
  background-color: rgb(37, 37, 37);
  color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  text-align: center;
  border: 3px solid;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(83, 68, 50);
  font-size: 2.5em;
}

.listItems {
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-size: 2em;
  list-style: none;
}

li {
  margin: 7px;
}

.listItems li:hover {
  color: rgb(189, 189, 189);
  cursor: pointer;
}

h3:hover {
  transform: scale(101%);
  cursor: pointer;
}
