* {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  /* background-color: rgb(25, 25, 25); */
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: rgb(27, 27, 27);
}
header h1 {
  color: whitesmoke;
  cursor: pointer;
}

nav {
  margin-right: -250px;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

header ul {
  text-decoration: none;
  list-style: none;
  display: flex;
}

header a {
  text-decoration: none;
  color: whitesmoke;
  margin: 10px;
}

button {
  border: 2px whitesmoke solid;
  border-radius: 25px;

  height: 6vh;
  width: 12vh;
  text-align: center;
  justify-content: center;

  color: rgb(27, 27, 27);
  font-size: 25px;
}

img {
  height: 450px;
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  margin-right: 240px;
  cursor: pointer;
}

footer {
  background-color: whitesmoke;
  color: black;
  padding: 6vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

main {
  color: whitesmoke;
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  margin-right: 800px;
  font-size: 3vh;
  margin-left: 160px;
}

main p {
  padding-top: 12px;
}
/* .overlay {
  position: fixed;
  bottom: 0;
  width: 90%;
  height: 10vh;
  background-color: rgb(224, 223, 224);
  z-index: 1;
  margin-bottom: 128px;
} */

main button {
  color: whitesmoke;
  border: 2px solid white;
  margin-top: 20px;
  background-color: rgb(27, 27, 27);
  font-size: 3.5vh;
  height: 9vh;
  width: 18vh;
}

button:hover {
  cursor: pointer;
  transform: scale(105%);
}

footer h2 {
  display: flex;

  text-align: center;
  justify-content: center;
  font-size: 10vh;
}

@media (max-width: 768px) {
  /* Adjust header and main content styles for smaller screens */
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLinks {
    margin-top: 20px;
  }

  .mainText {
    font-size: 16px;
  }

  .shopButton {
    font-size: 16px;
    padding: 8px 16px;
  }

  .pcImage {
    max-width: 300px;
  }

  .spaceInvadersImage {
    max-width: 150px;
  }
}
